body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, #f8f5f7 0%, #1004b3 100%); /* w3c */
}

button {
  cursor: pointer;
}
